/* public/css/style.css */
.recherche-avancee {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow:  hsla(0, 0%, 0%, 0.3);
    color: white;
}

.champs-recherche {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #bac6e3;
    padding: 20px;
    border-radius: 10px;
}

.options {
    display: flex;
    gap: 20px;
}

.champ-saisie {
    display: flex;
    flex-direction: column;
}

.champ-saisie label {
    margin-bottom: 5px;
    font-weight: bold;
}

.champ-saisie input[type="text"],
.champ-saisie input[type="number"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.type-bien {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn-reset,
.btn-rechercher {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    
}

.btn-reset {
    background-color: #189de4;
    color: #fff;
}

.btn-rechercher {
    background-color: #0a324d;
    color: #fff;
    
}

.proprietaire {
    margin-top: 20px;
    text-align: center;
}

.btn-deposer-annonce {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
.groupe-boutons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espace entre les boutons */
    margin-top: 20px; /* Espacement par rapport aux autres éléments */
}

.btn-reset, .btn-rechercher {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styles pour chaque bouton */
.btn-reset {
    background-color: #189de4;
    color: #fff;
}

.btn-rechercher {
    background-color: #0a324d;
    color: #fff;
}

/* Style pour le bouton 'Déposez votre annonce' */
.header-top-btn {
    background-color: #FF5722;
    color: white;
    font-weight: bold;
}

.header-top-btn:hover, .btn-reset:hover, .btn-rechercher:hover {
    opacity: 0.8; /* Légère transparence au survol */
}
