body {
    background-image: url(/asset/images/woye.jpg); /* Chemin de l'image */
    background-size: cover; /* Couvre tout l'écran sans déformation */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-position: center center; /* Centrer l'image sur l'écran */
}

#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

/* Logo */
.logo-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    height: auto;
}

/* Formulaire */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Champs de formulaire */
input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Bouton */
input[type=submit] {
    background-color: #2d4db8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #4d64d9;
    color: #fff;
}
